<h1>New Chef</h1>

<br>
<div id="main" class="align">
  <form class="" action="/<%= @chef.id %>" method="chefsave">
    <div class="chefnameform">
      <label>Name:</label>
      <input type="text" name="name" value="<%= @chef.name %>"><br>
    </div>
    <br>
    <div class="chefageform">
      <label>Age:</label>
      <input type="text" name="age" value="<%= @chef.age %>"><br>
    </div>
    <br>
    <div class="">
      <input type="submit" value="Save Post">
  </div>
  </form>
</div>
